body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

#authForm {
  background-color: #fff;
  padding: 50px;
  border-radius: 0;
  border: 2px solid #000000;
}

#updateForm {
  background-color: #fff;
  padding: 50px;
  border-radius: 0;
  border: 2px solid #000000;
}

#postTodoForm {
    background-color: #fff;
    padding: 50px;
    border-radius: 0;
    border: 2px solid #000000;
  }

#authForm input {
  font-size: 16px;
  padding: 22px;
  padding-left: 0;
  border: none;
  border-bottom: 2px solid #000;
  text-align: left;
}

#authForm select {
  font-size: 16px;
  padding: 22px;
  padding-left: 0;
  border: none;
  border-bottom: 2px solid #000;
  text-align: left;
}

#authBtn {
  background-color: #ffd60a;
  padding: 4px;
  border-radius: 0;
  text-transform: none;
  color: #000;
  border: 2px solid #000;
}
#signup:hover {
  text-decoration: none;
}

#loginPage:hover {
  text-decoration: none;
}

#updateForm input {
    font-size: 16px;
    padding: 22px;
    padding-left: 0;
    border: none;
    border-bottom: 2px solid #000;
    text-align: left;
  }
  
  #updateForm select {
    font-size: 16px;
    padding: 22px;
    padding-left: 0;
    border: none;
    border-bottom: 2px solid #000;
    text-align: left;
  }

#postTodo{
    background-color: #ffd60a;
  padding: 4px;
  border-radius: 0;
  text-transform: none;
  color: #000;
  border: 2px solid #000;
  }

  
#postTodoForm input {
    font-size: 16px;
    padding: 22px;
    padding-left: 0;
    border: none;
    border-bottom: 2px solid #000;
    text-align: left;
  }
  
  #postTodoForm select {
    font-size: 16px;
    padding: 22px;
    padding-left: 0;
    border: none;
    border-bottom: 2px solid #000;
    text-align: left;
  }
