{% include 'imports.html' %}
<script>
    const userAccessToken = cookie.get('user_access_token');
    const userRefreshToken = cookie.get('user_refresh_token');
    if (!userAccessToken && !userRefreshToken) {
        window.location.href = '/';
    }
</script>

<body>
    <div class="uk-text-bold uk-text-large uk-margin-large-left uk-margin-large-right uk-margin-top">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1 class="uk-text-left" style="font-family: Comfortaa, sans-serif;font-weight: 700;">User Dashboard</h1>
            <button uk-tooltip="logout" class="uk-text-right" onclick="logoutUser()"
                style="font-family: Comfortaa, sans-serif;background-color: #ffd60a;padding: 6px;border-radius: 0;text-transform: none;color: #000;border: 2px solid #000;">
                <span uk-icon="user"></span>
            </button>
        </div>
    </div>
    <script>
        function logoutUser() {
            // Clear tokens and redirect to login page
            cookie.remove('user_access_token');
            cookie.remove('user_refresh_token');
            window.location.href = '/';
        }
    </script>
    <div class="uk-margin-large-bottom" style="height: 1.5px;background-color: #000;"></div>
    <br>
    <div class="uk-container">
        <div class="uk-grid-divider uk-child-width-expand@2" uk-grid>
            <div>
                <h3 style="font-family: Comfortaa, sans-serif;font-weight: 700;">Update Profile</h3>
                <form class="uk-form-stacked uk-width-1-1" id="updateForm" onsubmit="updateProfile(event)">
                    <div class="uk-margin">
                        <input class="uk-input" type="text" id="username" placeholder="Username">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="email" id="email" placeholder="Email">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="password" id="password" placeholder="Password">
                    </div>
                    <div class="uk-margin">
                        <button id="authBtn" class="uk-button uk-text-bold uk-button-primary uk-width-1-1">Update</button>
                    </div>
                </form>

                <script>
                    async function updateProfile(event) {
                        event.preventDefault();
                        
                        const userAccessToken = cookie.get('user_access_token');
                        if (!userAccessToken) {
                            window.location.href = '/';
                            return;
                        }

                        const userId = cookie.get('user_id');
                        const url = `/api/users/${userId}`;
                        const data = {
                            username: document.getElementById('username').value,
                            email: document.getElementById('email').value,
                            password: document.getElementById('password').value
                        };

                        try {
                            const response = await fetch(url, {
                                method: 'PUT',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'Authorization': `Bearer ${userAccessToken}`
                                },
                                body: JSON.stringify(data)
                            });

                            if (response.ok) {
                                alert('Profile updated successfully');
                            } else {
                                alert('Failed to update profile');
                            }
                        } catch (error) {
                            console.error('Error:', error);
                            alert('An error occurred while updating the profile');
                        }
                    }
                </script>
            </div>
            <div>
                <h3 style="font-family: Comfortaa, sans-serif;font-weight: 700;">Todos</h3>
                <table id="todos-table" class="uk-table uk-table-divider" style="border: 2px solid black;">
                    <thead>
                        <tr>
                            <th>Completed</th>
                            <th>Date Created</th>
                            <th>Id</th>
                            <th>User Id</th>
                            <th>Updated</th>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data will be populated here -->
                    </tbody>
                </table>

                <script>
                    document.addEventListener('DOMContentLoaded', async () => {
                        const userAccessToken = cookie.get('user_access_token');
                        const userId = cookie.get('user_id');
                        if (!userAccessToken || !userId) {
                            window.location.href = '/';
                            return;
                        }

                        const url = `/api/todos/user/${userId}`;

                        try {
                            const response = await fetch(url, {
                                method: 'GET',
                                headers: {
                                    'Authorization': `Bearer ${userAccessToken}`
                                }
                            });

                            if (response.ok) {
                                const todos = await response.json();
                                const tbody = document.querySelector('#todos-table tbody');
                                todos.forEach(todo => {
                                    const row = document.createElement('tr');

                                    row.innerHTML = `
                                        <td><input id="is_completed" type="checkbox" ${todo.completed ? 'checked' : ''} disabled style="width: 15px; height: 15px; accent-color: #ffd60a;"></td>
                                        <td>${new Date(todo.created_at).toLocaleString()}</td>
                                        <td>${todo.id}</td>
                                        <td>${todo.user_id}</td>
                                        <td>${new Date(todo.updated_at).toLocaleString()}</td>
                                        <td><input id="update_todo" type="text" style="border:none; background-color:#fff;border-bottom:2px solid #000;font-family: Comfortaa, sans-serif;" value="${todo.title}" onchange="updateTodoTitle(${todo.id}, this.value)"></td>
                                        <td><button onclick="deleteTodo(${todo.id})" class="uk-text-bold" style="font-family: Comfortaa, sans-serif;background-color: #ffd60a;padding: 6px;border-radius: 0;text-transform: none;color: #000;border: 2px solid #000;">Delete</button></td>
                                        <td><button onclick="updateTodo(${todo.id})" class="uk-text-bold" style="font-family: Comfortaa, sans-serif;background-color: #ffd60a;padding: 6px;border-radius: 0;text-transform: none;color: #000;border: 2px solid #000;">Update</button></td>
                                    `;

                                    tbody.appendChild(row);
                                });
                            } else {
                                alert('Failed to fetch todos');
                            }
                        } catch (error) {
                            console.error('Error:', error);
                            alert('An error occurred while fetching todos');
                        }
                    });

                    async function deleteTodo(todoId) {
                        const userAccessToken = cookie.get('user_access_token');
                        const url = `/api/todos/${todoId}`;

                        try {
                            const response = await fetch(url, {
                                method: 'DELETE',
                                headers: {
                                    'Authorization': `Bearer ${userAccessToken}`
                                }
                            });

                            if (response.ok) {
                                alert('Todo deleted successfully');
                                location.reload();
                            } else {
                                alert('Failed to delete todo');
                            }
                        } catch (error) {
                            console.error('Error:', error);
                            alert('An error occurred while deleting the todo');
                        }
                    }

                    async function updateTodo(todoId) {
                        const userAccessToken = cookie.get('user_access_token');
                        const url = `/api/todos/${todoId}`;
                        const todoTitle = document.getElementById('update_todo').value;
                        const todoCompleted = document.getElementById('is_completed').checked;
                        const todo = {
                            title: todoTitle,
                            completed: todoCompleted
                        };
                        const body = JSON.stringify(todo);
                        const headers = {
                            'Authorization': `Bearer ${userAccessToken}`,
                            'Content-Type': 'application/json'
                        };
                        const options = {
                            method: 'PUT',
                            headers: headers,
                            body: body
                        };
                        try {
                            const response = await fetch(url, options);
                            if (response.ok) {
                                alert('Todo updated successfully');
                                location.reload();
                            } else {
                                alert('Failed to update todo');
                            }
                        } catch (error) {
                            console.error('Error:', error);
                            alert('An error occurred while updating the todo');
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</body>