<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

<!-- JS Cookie -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">

<script src="https://unpkg.com/cookiejs/dist/cookie.min.js"></script>

<script>
    function pushNotify(text, status) {
        if (status == "success") {
            status = "#00b300";
        } else if (status == "error") {
            status = "#c1121f";
        } else if (status == "warning") {
            status = "#ffa500";
        } else if (status == "info") {
            status = "#0000ff";
        } else {
            status = "#000000";
        }
        Toastify({
            text: text,
            duration: 3000,
            destination: "https://github.com/apvarun/toastify-js",
            newWindow: true,
            close: true,
            gravity: "top",
            position: "left",
            stopOnFocus: true,
            style: {
                background: status,
            },
            onClick: function () { }
        }).showToast();
    }
</script>